<div class="container">
   <div class="row">
      <div class="col-md-4">
         <div class="logo">
            <h1>Shapely Demo</h1>
          </div>
      </div>
      <div class="col-md-8">
         <div class="header-text-section">
            <a routerLink="/shapely/home">Home</a>
            <a routerLink="/shapely/blog">blog</a>
            <a routerLink="/shapely/portfolio">portfolio</a>
            <!-- <a href="#">aboutthetests</a> -->
            <div class="dropdown">
               <button class="dropbtn">aboutthetests</button>
               <div class="dropdown-content">
                 <a href="#">Page Image AlignmentPage</a>
                 <a href="#"> Markup And Formatting</a>
                 <a href="#">Clearing Floats</a>
                 <a href="#">Page with comments disabled</a>
               </div>
             </div>
            <!-- <a href="#">level</a> -->
            <div class="dropdown">
               <button class="dropbtn">level</button>
               <div class="dropdown-content">
                 <a href="#">level1</a>
                 <a href="#">level2</a>
                 <a href="#">level2a</a>
                 <a href="#">level2b</a>
               </div>
             </div>
            <a href="#">shop</a>
         </div>
      </div>
   </div>
</div>

